{% extends "layouts/primary.twig" %}

{% block content %}
    <div class="container">
        <h1>Could not load content</h1>
        <p>Something went wrong, folks.</p>
        {% if error_message %}
            <p class="alert alert-warning">{{ error_message }}</p>
        {% endif %}
    </div>
{% endblock %}